h1{
    background-color: blue;
    color: red;
    width: 1000px;
    height: 100px;
    margin: 20px;
    padding: 50px;
    display:none;
}

span{
    background-color: red;
    color: blue;
    /* width: 50px;
    height: 50px; */
    padding: 50px 50px 50px 50px;
    margin: 100px 0 0 100px;
}

div{
    width: 250px;
    height: 250px;
    background-color: green;
    border: 20px solid black;
    margin: 10px;
    padding: 5px;
    display: inline-block;    

}