body {
    font-family: 'Qahiri', cursive;
    font-size: 30px;
}

main {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h1 + h2 {
    margin-top: 10px;
}

h1 {
    font-family: Qahiri, sans-serif;
    font-weight: 100;
}

h2 {
    font-family: Tourney, sans-serif;
    font-weight: 100;
}

h3 {
    font-family: Tourney, sans-serif;
    font-weight: 100;
}

