
body{
    background-color: #f5a803;
}
section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1564442038901-4f9a19d3d456?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1227&q=80");
    background-size: cover;
    background-position: top; */
    background: center/cover url("https://images.unsplash.com/photo-1588673133509-13d815c64b5c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1164&q=80");
    margin: 0 auto;
    /* background-size: cover; */
    /* background-repeat: space; */
}

h1 {
    font-size: 125px;
    text-align:center;
    text-shadow: rgb(34, 95, 74) -4px 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: #f5a803;
    /* background-color: chocolate; */
    opacity: 0.9;
    padding-top: .5em;
}